.about {
	min-height: 100vh;
	background-color: var(--black);
	padding: 10rem 12rem;
}

.about h1 {
	color: var(--yellow);
	margin-bottom: 1rem;
}
.about section {
	padding: 1rem 6rem;
}

.about p {
	font-family: "Roboto Mono", monospace;
	margin-bottom: 1rem;
	color: var(--yellow);
	line-height: 3;
}

@media screen and (max-width: 1200px) {
	.about {
		padding: 10rem 8rem;
	}
}

@media screen and (max-width: 1000px) {
	.about {
		padding: 8rem 4rem;
	}

	.about section {
		padding: 1rem 4rem;
	}
}

@media screen and (max-width: 876px) {
	.about {
		padding: 6rem 2rem;
	}

	.about section {
		padding: 1rem 2rem;
	}
}

@media screen and (max-width: 760px) {
	.about {
		padding: 4rem 1rem;
	}

	.about section {
		padding: 1rem 0em;
	}
}
