.about {
	min-height: fit-content;
	background-color: var(--black);
	padding: 10rem 12rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.about .about-text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0rem 6rem;
}

.about h1 {
	color: var(--yellow);
}

.about p {
	color: var(--yellow);
}

@media screen and (max-width: 1200px) {
	.about {
		padding: 10rem 8rem;
	}
}

@media screen and (max-width: 1000px) {
	.about {
		padding: 8rem 4rem;
	}

	.about .about-text {
		padding: 0rem 4rem;
	}
}

@media screen and (max-width: 876px) {
	.about {
		padding: 6rem 2rem;
	}

	.about .about-text {
		padding: 0rem 2rem;
	}
}

@media screen and (max-width: 760px) {
	.about {
		padding: 4rem 1rem;
	}

	.about .about-text {
		padding: 0rem 0rem;
	}
}
