.projects {
	background-color: var(--yellow);
	min-height: 100vh;
	padding: 12rem 12rem 12rem 12rem;
}

.projects h1 {
	color: var(--red);
	margin-bottom: 6rem;
}

.projects h2 {
	color: var(--yellow);
	font-family: "Playfair Display", serif;
	font-size: 2rem;
	font-weight: 300;
}

.projects-cont {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	gap: 8rem;
}

.project {
	background-color: var(--black);
	padding: 4rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	gap: 4rem;
}

.project img {
	width: 100%;
	height: auto;
	padding: 0;
	box-shadow: 0 0 100px -80px var(--yellow);
}

.project p {
	font-family: "Roboto Mono", monospace;
	color: var(--yellow);
	line-height: 3;
}

.project .links {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

@media screen and (max-width: 1200px) {
	.projects {
		padding: 12rem 8rem 12rem 8rem;
	}

	.projects-cont {
		gap: 6rem;
	}

	.project {
		padding: 4rem;
		gap: 4rem;
	}
}

@media screen and (max-width: 1000px) {
	.projects {
		padding: 10rem 4rem 10rem 4rem;
	}

	.projects-cont {
		gap: 4rem;
	}

	.project {
		padding: 2rem;
		gap: 2rem;
	}
}

@media screen and (max-width: 876px) {
	.projects {
		padding: 8rem 2rem 8rem 2rem;
	}

	.projects-cont {
		gap: 4rem;
	}

	.project {
		padding: 2rem;
		gap: 2rem;
	}
}

@media screen and (max-width: 760px) {
	.projects {
		padding: 6rem 1rem 6rem 1rem;
	}

	.projects-cont {
		gap: 2rem;
	}

	.project {
		padding: 1rem;
		gap: 2rem;
	}
}
