:root {
	/* --black: #231f20;
	--yellow: #f0e7d8;
	--red: #a63a50; */

	--black: #f5f1ed;
	--yellow: #0f1108;
	--red: #7ac7e1;

	font-size: 16px;

	--serif: "IBM Plex Serif";
	--mono: "IBM Plex Mono";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: color 0.25s;
	transition: background-color 0.25s;
}

html {
	background-color: var(--yellow);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.external-link {
	color: var(--yellow);
	text-decoration: underline;
	text-decoration-color: var(--red);
	transition: 0.1s;
	font-family: var(--mono), monospace;
}

.external-link:hover {
	background-color: var(--red);
}

h2 {
	font-weight: 600;
	font-family: var(--serif), serif !important;
}

p,
a,
.home-cont button {
	font-family: var(--mono), monospace !important;
	letter-spacing: 0.019em;
	font-size: 1rem;
}

p {
	line-height: 2 !important;
}

.about h1,
.home-cont h1,
.projects h1,
#contact h1 {
	font-family: var(--serif), serif;
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: -0.025em;
}

@media screen and (max-width: 876px) {
	.about h1,
	.home-cont h1,
	.projects h1,
	#contact h1 {
		font-size: 4rem;
	}
}

@media screen and (max-width: 760px) {
	.about h1,
	.home-cont h1,
	.projects h1,
	#contact h1 {
		font-size: 3rem !important;
	}
}
