:root {
	--black: #2b2d42;
	--yellow: #f0e7d8;
	--red: #a63a50;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--yellow);
	scroll-behavior: smooth;
}
